.holdings-container {
  padding: 16px;
  font-family: sans-serif;
}

.badge {
  background: #e4e9ff;
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 12px;
  margin-left: 6px;
  color: #4b4eff;
}

.table-wrapper {
  overflow-x: auto;
}

.holdings-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: white;
  border: 1px solid #ddd;
}

.holdings-table th,
.holdings-table td {
  border: 1px solid #eaeaea;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.holdings-table th {
  background-color: #f9fafb;
  font-weight: 600;
  color: #444;
}

.profit {
  color: green;
}

.loss {
  color: red;
}

.tpin-alert {
  margin-top: 10px;
  background-color: #fff7e5;
  color: #a6761d;
  padding: 12px;
  border-radius: 4px;
  font-size: 14px;
}



.btn{
    margin-left: 50%;
    width: 20%;
    /* background: green; */
    color: white;
    margin-top: 2%;
}
.buy-qty-input {
  width: 190px;
  height: 35px;
  padding: 5px;
  font-size: 14px;
}

.w_15_p{
  width: 15%;
}


.green{
  background: green
}

.red{
  background: red;
}